<nav >
  <div class="nav-wrapper lime lighten-3">
    <ul id="nav-mobile" class="left ">
      <li><a routerLink='' class=" black-text">Home</a></li>
      <li><a routerLink='ListaCompleta' class=" black-text">Lista Musicas</a></li>
      <li><a routerLink='AdicionaComponente' class=" black-text">Adicionar Musica</a></li>
      <li><a routerLink='Filtro' class=" black-text">Aplicar Filtros</a></li>
      <li><a routerLink='Login' class='black-text'>login</a></li>
      <li><a routerLink='ListaMusico' class='black-text'>Lista de Musicos</a></li>
      <li><a routerLins='AdicionaMusico' class= 'black-text'>Adiciona Musico</a></li>
    </ul>
  </div>
</nav>
